p {
	font-size: 40px;
	margin: 0;
	/*padding: 100px;*/
	text-align: center;
	color: white;
	padding-top: 50%;
}
#full {
	min-height: 100%;
	background-image: url("http://www.eonline.com/eol_images/Entire_Site/201467/rs_560x415-140707115516-560.Purrmanently-Sad-Cat-kitten.ls.7814.jpg");
	background-size: 100% 110%;
}

* {
	font-family: Arial
}

html, body{
	height: 100%;
	margin: 0;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: #00BFFF;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-decoration: underline;
}